$main-color: #202867;
$font-weight: 700;
$white: #fff;
$secondary-color: #FABA00;
$third-color: #0081bf;
$error: #d9534f;

$primary: $main-color;
$secondary: $secondary-color;

$navbar-light-color: $main-color;
$navbar-dark-toggler-border-color: $main-color;
$navbar-dark-color: $main-color;
$carousel-control-color: $main-color;
$carousel-indicator-active-bg: $main-color;

