<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2>Añadir un gasto</h2>
        <a class="close ms-auto" aria-label="Close" (click)="d('Cross click')">
            <div class="bi bi-x-circle video-x-circle"></div>
        </a>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="addExpense()">
            <div class="form-group">
                    <label for="user">Usuario</label>
                    <select id="user" class="form-control" [formControl]="selectedUser" [ngClass]="{ 'is-invalid': selectedUser.invalid  && (submitted || selectedUser.dirty || selectedUser.touched) }" required>
                      <option   *ngFor="let user of users;let i = index" [ngValue]="user">{{user.FullName}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="selectedUser.invalid && (submitted || selectedUser.dirty || selectedUser.touched)">
                        <p *ngIf="selectedUser.errors?.['required']">Usuario es requerido</p>
                    </div>
            </div>
            <div class="form-group">
                <label for="paymentAmount">Coste Pago</label>
                <input type="text" class="form-control" id="paymentAmount" [formControl]="paymentAmount" [ngClass]="{ 'is-invalid': paymentAmount.invalid  && (submitted || paymentAmount.dirty || paymentAmount.touched) }" required>
                <div class="invalid-feedback" *ngIf="paymentAmount.invalid && (submitted || paymentAmount.dirty || paymentAmount.touched)">
                  <p *ngIf="paymentAmount.errors?.['required']">Coste es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="paymentDescription">Descripcion</label>
                <input type="text" class="form-control" id="paymentDescription" [formControl]="paymentDescription"[ngClass]="{ 'is-invalid': paymentDescription.invalid  && (submitted || paymentDescription.dirty || paymentDescription.touched) }" required>
                <div class="invalid-feedback" *ngIf="paymentDescription.invalid && (submitted || paymentDescription.dirty || paymentDescription.touched)">
                  <p *ngIf="paymentDescription.errors?.['required']">Descripcion es requerido</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Guardar
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <ul class="d-flex flex-row align-items-center list-unstyled mr-auto">
        </ul>
    </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2>Añadir un usuario como amigo</h2>
        <a class="close ms-auto" aria-label="Close" (click)="d('Cross click')">
            <div class="bi bi-x-circle video-x-circle"></div>
        </a>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="addUserToExpenseGroup()">
            <div class="form-group">
                    <label for="user">Usuario</label>
                    <select id="user" class="form-control" [formControl]="selectedUser" [ngClass]="{ 'is-invalid': selectedUser.invalid  && (submitted || selectedUser.dirty || selectedUser.touched) }" required>
                      <option   *ngFor="let user of users;let i = index" [ngValue]="user">{{user.FullName}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="selectedUser.invalid && (submitted || selectedUser.dirty || selectedUser.touched)">
                        <p *ngIf="selectedUser.errors?.['required']">Usuario es requerido</p>
                    </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Guardar
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <ul class="d-flex flex-row align-items-center list-unstyled mr-auto">
        </ul>
    </div>
</ng-template>
<div class="btn-group m-1" role="group">
    <button (click)="openAddExpense(content)" class="btn btn-primary">Añadir Gasto</button>
    <button (click)="openAddUser(content2)" class="btn btn-secondary">Añadir Amigo</button>
</div>
<div class="d-flex flex-row flex-wrap" *ngIf="expenses.length !== 0">
    <div *ngFor="let expense of expenses;let i = index" class="card m-3" style="width: 18rem;">
        <i class="bi bi-person-circle"></i>
        <div class="card-body">
            <h5 class="card-title">{{expense.User.FullName}}</h5>
            <p>Coste: {{expense.Payment.Amount}}€</p>
            <p>Description: {{expense.Payment.Description}}</p>
            <p>{{expense.Payment.Date | amTimeAgo | titlecase}}</p>
        </div>
    </div>
</div>